.profil-komunitas img{
    width: 50%;
    height: auto;
}

.profil-komunitas h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
}

.card{
    width: 90%;
}

.deskripsi-komunitas h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5vw;
}
.deskripsi-komunitas h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1vw;
}

.alamat.komunitas h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1vw;
}